
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#background, html {
  background-color: #292C49;
}

h3 {
  font-family: Russo One;
  color: #fff;
}

.verdict {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 6;
  position: relative;
}

.overview {
  color: #fff;
  width: 600px;
  margin:0 auto;
  font-family: Russo One;
  z-index: 6;
  position: relative;
}

.list-group-item {
  background-color: #fff0;
  border: none;
}

canvas.particles-js-canvas-el {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.moon {
  display: block;
  position: absolute;
  right: 20%;
  top: 10rem;
  z-index: 2;
}

footer a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 50px;
  position: relative;
  z-index: 5;
}